# Python
*.pyc
__pycache__/
*.log

# Virtual environment
.venv/
venv/

# Node, React
node_modules/
dist/
build/

# Django
db.sqlite3

# Environment variables
.env
*.env

# OS files
.DS_Store
Thumbs.db
